<%- include("../partials/_header") -%>
<div>
    <h3><%= title %></h3>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill"></i>
        <%= desc %>
    </div>
</div>

<%- include("../partials/_footer") -%>